//- jquery
script( src=page.url+"Assets/Scripts/jquery-3.3.1.min.js" )
//- thirdparty scripts
script( src=page.url+"Assets/Scripts/vendor.scripts.js" )
//- custom plugins
script( src=page.url+"Assets/Scripts/custom.plugins.js" )
//- main javascript
script( src=page.url+"Assets/Scripts/main.js" )